<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day03</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.cqjtu.edu.Servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentDelServlet</servlet-name>
    <servlet-class>com.cqjtu.edu.Servlet.StudentDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentAddServlet</servlet-name>
    <servlet-class>com.cqjtu.edu.Servlet.StudentAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OperateServlet</servlet-name>
    <servlet-class>com.cqjtu.edu.Servlet.OperateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentAltServlet</servlet-name>
    <servlet-class>com.cqjtu.edu.Servlet.StudentAltServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentSearchServlet</servlet-name>
    <servlet-class>com.cqjtu.edu.Servlet.StudentSearchServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentDelServlet</servlet-name>
    <url-pattern>/StudentDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAddServlet</servlet-name>
    <url-pattern>/StudentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperateServlet</servlet-name>
    <url-pattern>/OperateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAltServlet</servlet-name>
    <url-pattern>/StudentAltServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSearchServlet</servlet-name>
    <url-pattern>/StudentSearchServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>